@font-face {
  font-family: "Montserrat-Bold";
  src: url("fuentes/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("fuentes/Montserrat-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: Montserrat-Bold;
  font-size: 40px;
  color: black;
  text-align: center;
}

h2 {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: black;
}

p {
  font-family: Montserrat-Regular;
  font-size: 18px;

}

ul {
  font-family: Montserrat-Regular;
  font-size: 18px;
  list-style: none;
}


.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: #16BAC5;
}

header.logo {
  margin: 0;
  padding: 25px 30px;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-family: Montserrat-Regular;
  color: white;

}

#hero {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)), url("imgs/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: white;
}

footer {
  font-family: Montserrat-Regular;
  background-color: #DCF5F6;
}

footer h3 {
  font-size: 12px;
}

footer p {
  font-size: 10px;
}

.contacto-1 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.contacto-2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.siguenos {
  display: flex;
  flex-direction: row;
}

.footer-group {
  padding: 10px 40px;
}

.line {
  max-width: 95%;
  height: 2px;
  background: #16BAC5;
  margin: 10px auto;
  border-radius: 5px;
}

@media(min-width: 720px) {
  header {
      position: fixed;
      width: 100%;
  }

  .container-header {
      flex-direction: row;
      justify-content: space-between;
  }

  header nav {
      flex-direction: row;
  }

}